body{
    background-color:#ffebcd;
}
hr{
    
    border-style:  none ;
    border-top-style: dotted;
    border-color:grey;
    border-width :3px;
    height:0%;
    width: 3%;
}
h1{
    color: coral;
}
h3{
    color: brown;
}
